html {
    height: 100%;
  }
  

  
  body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .main-content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .main-content header span {
    font-size: 18px;
  }
  
   