<body>
  <div class="grid grid-cols-12 gap-x-2">
    <div class="hidden md:grid col-span-2">
      <sidebar [links]="links"></sidebar>
    </div>
    <div class="col-span-8 p-2">
      <h1 style="font-size: 1.5rem; font-weight: bold">
        Générer un Nouveau Quiz
      </h1>
        <div class="form-group mb-3.5 text-left">
          <label for="difficulty" class="font-bold block mb-[5px]"
            >Niveau de difficulté :
          </label>
          <select
            id="difficulty"
            name="difficulty"
            class="w-full p-[8px] rounded-[4px] border-[1px] border-[solid] border-[#ccc]"
          >
            <option value="easy">Facile</option>
            <option value="medium">Moyen</option>
            <option value="hard">Difficile</option>
          </select>
        </div>
        <div class="form-group mb-3.5 text-left">
          <label for="technology" class="font-bold block mb-[5px]"
            >Technologie :</label
          >
          <select
            id="technology"
            name="technology"
            class="w-full p-[8px] rounded-[4px] border-[1px] border-[solid] border-[#ccc]"
          >
            <option value=".NET">.NET</option>
            <option value="angular">Angular</option>
            <option value="html">HTML</option>
            <option value="css">CSS</option>
            <option value="python">Python</option>
            <option value="php">PHP</option>
            <option value="js">JavaScript</option>
            <option value="ts">TypeScript</option>
          </select>
        </div>
        <a routerLink="/quiz"
          ><button
            type="submit"
            class="bg-indigo-400 text-[white] px-[15px] py-[10px] border-[none] rounded-[4px] cursor-pointer hover:bg-indigo-600"
          >
            Générer le quiz
          </button></a
        >
    </div>
  </div>
</body>
