<body>
    <div class="container">
        <aside class="sidebar">
            <nav>
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="/generate-quiz">Générer un nouveau quiz</a></li>
                    <li><a href="/config-exp">Configurer les niveaux d'expérience</a></li>
                    <li><a href="/edit-techno">Création et édition de technologies</a></li>
                    <li><a href="/manage-agent">Gestion des agents</a></li>
                    <li><a href="questions-answers-referential">Gérer le référentiel de questions et réponses</a></li>
                    <li><a href="see-quiz">Voir les quiz</a></li>
                </ul>
            </nav>
        </aside>
        <main class="main-content">
            <header>
                <h2>Gestion des agents</h2>
            </header>
            <section id="deux_colonnes">
                <div id="colonne_gauche">
                    <div id="ico_titre_section">
                        <img src="./assets/images/ico_agents.png"> Liste des agents
                    </div>
                    <input type="text" placeholder="Search" id="search_bar">
                    <table>
                        <tr>
                            <th>Id</th>
                            <th>Agent</th>
                        </tr>
                        <tr>
                            <td>FIG-121</td>
                            <td>xxxxxxxxxxx</td>
                        </tr>
                        <tr>
                            <td>FIG-122</td>
                            <td>xxxxxxxxxxx</td>
                        </tr>
                        <tr>
                            <td>FIG-123</td>
                            <td>xxxxxxxxxxx</td>
                        </tr>
                        <tr>
                            <td>FIG-124</td>
                            <td>xxxxxxxxxxx</td>
                        </tr>
                        <tr>
                            <td>FIG-125</td>
                            <td>xxxxxxxxxxx</td>
                        </tr>
                        <tr>
                            <td>FIG-126</td>
                            <td>xxxxxxxxxxx</td>
                        </tr>
                        <tr>
                            <td>FIG-127</td>
                            <td>xxxxxxxxxxx</td>
                        </tr>
                        <tr>
                            <td>FIG-128</td>
                            <td>xxxxxxxxxxx</td>
                        </tr>
                        <tr>
                            <td>FIG-129</td>
                            <td>xxxxxxxxxxx</td>
                        </tr>
                    </table>
                    <button id="suivant" onclick=>Suivant</button>
                </div>
                <div id="colonne_droite">
                    <img id="computer" src="./assets/images/computer.png">
                    <div id="actions_agents">
                        <button class="bg-sky-500 hover:bg-sky-700" onclick=>Ajouter un agent</button>
                        <button class="agent_button" onclick=>Modifier un agent</button>
                        <button class="agent_button" onclick=>Supprimer un agent</button>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>


