<div class="login-wrapper">
    <div class="login-container">
      <h1>Bonjour !</h1>
      <p>Bienvenue sur TechTalentify</p>
      <form (ngSubmit)="onSubmit()">
        <label for="username">E-mail</label>
        <input type="text" id="username" placeholder="E-mail" [(ngModel)]="username" name="username" required>
  
        <label for="password">Mot de passe</label>
        <input type="password" id="password" placeholder="Mot de passe" [(ngModel)]="password" name="password" required>
  
        <button type="submit">Connexion</button>
      </form>
    </div>
    <div class="image-container">
      <img src="./assets/images/computer.jpg" alt="Login Image">
    </div>
  </div>
