<body>
    <div class="login-wrapper">
        <div class="login-container">
            <h1>Bonjour !</h1>
            <p>Bienvenue sur TechTalentify</p>
            <form> <label for="login">Login</label>
                <input type="text" id="login" placeholder="Login" required>
                <label for="password">Mot de passe</label>
                <input type="password" id="password" placeholder="Mot de passe" required>
                <button type="submit">Connexion</button>
            </form>
        </div>
        <div class="image-container">
            <img src="./assets/images/computer.jpg" alt="Login Image">
        </div>
    </div>
</body>
