<section id="home" class="bg-white py-16">
  <div class="container mx-auto flex flex-col md:flex-row justify-between">
    <!-- Left column: Description and buttons -->
    <div class=" md:w-1/2 text-center md:text-left mb-8 md:mb-0 content p-14">
      <h1 class="bg-gradient-to-r from-fuchsia-400 via-red-300 to-cyan-500 text-transparent bg-clip-text text-9xl/2 font-bold mb-4">TechTalentify </h1>
      <p class="my-7 text-black font-bold">Osez briller dans le monde de la tech avec TechTalentify
        </p>
        <p class="my-7 text-black text-justify">
          Bienvenue sur TechTalentify, votre partenaire de choix pour le recrutement de talents
           dans le domaine de la technologie. Forts d'une expertise approfondie du secteur technologique, 
           nous nous engageons à fournir des solutions de recrutement sur mesure répondant aux besoins 
           spécifiques de nos clients. Osez briller dans le monde de la tech avec TechTalentify.
        </p>
        
        <a routerLink="/login">
          <button class="m-4 p-0.5 rounded-full from-fuchsia-400 to-red-300 bg-gradient-to-r flex items-center justify-center gap-2">
            <span class="text-black px-4 py-2 font-semibold rounded-full bg-white hover:bg-transparent hover:text-white transition flex items-center gap-2">
              Créer un quiz
            </span>
          </button>
        </a>
      <div class="space-x-2">
        <a href="https://github.com/spacemadev/Free-blue-star-tailwind-landing-page-template"
          class="bg-secondary hover:bg-primary text-white font-semibold px-4 py-2 rounded inline-block">Github</a>
        <a href="https://spacema-dev.com/blue-star-free-tailwind-landing-page-template"
          class="bg-primary hover:bg-secondary text-white font-semibold px-4 py-2 rounded inline-block">Download</a>
      </div>
    </div>

    <!-- Right column: Responsive image -->
    <div class="md:w-1/2">
      <img src="/assets/images/clouds.png" alt="Image" class="w-full md:mx-auto md:max-w-md" />
    </div>
  </div>
</section>